name: shop_app
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.0.2
  badges: ^2.0.2
  intl: ^0.17.0
  http: ^0.13.5
  shared_preferences: ^2.0.17
  ffi: ^2.0.1
  splashscreen: ^1.3.5
  image_picker: ^0.8.6
  google_maps_flutter: ^2.2.8
  geolocator: ^9.0.2
  location: ^4.4.0
  flutter_google_places: ^0.3.0
  form_field_validator: ^1.1.0
  email_auth: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/images/
    
  # example:
  # fonts:
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
